# Import libraries and define util functions

In [2]:

import pandas as pd
from bs4 import BeautifulSoup

from llama_index import VectorStoreIndex
from llama_index.node_parser import UnstructuredElementNodeParser
from llama_index.retrievers import RecursiveRetriever
from llama_index.query_engine import RetrieverQueryEngine
from llama_index.readers.file.flat_reader import FlatReader
from pathlib import Path

from llama_index.response_synthesizers import (
    get_response_synthesizer
)
import os

In [ ]:
# Set your OpenAI API key
os.environ['OPENAI_API_KEY'] = ''

In [3]:
# Path to file
path = 'ucl.html'

In [4]:
def extract_tables(path, stop_header_text):
    with open(path, 'r', encoding='utf-8') as file:
        html_content = file.read()
    soup = BeautifulSoup(html_content, 'html.parser')
    
    tables = []
    stop_header_found = False

    for element in soup.find_all(['h2', 'table']):
        if element.name == 'h2' and element.get_text() == stop_header_text:
            stop_header_found = True
        elif element.name == 'table' and not stop_header_found:
            tables.append(element)

    return tables

In [5]:
def get_table_shape(table):
    rows = table.find_all("tr")
    row_count = len(rows)
    col_count = 0
    for row in rows:
        cols = row.find_all(["th", "td"])
        col_count_temp = len(cols)
        if col_count_temp > col_count:
            col_count = col_count_temp
    return (row_count, col_count)

In [6]:
def create_none_matrix(shape):
    rows, columns = shape
    return [[None] * columns for _ in range(rows)]

In [7]:
def get_ref_node_of_table(table_node, nodes):
    id_n = table_node.node_id
    for n in nodes:
        if n.id_ == str(id_n + "_ref"):
            return n

In [8]:
def html_to_df(table):
    table_shape = get_table_shape(table)
    none_table = create_none_matrix(table_shape)
    skip_next = None
    cell_rowspan = None
    marked_coords = []
    for i, row in enumerate(table.find_all("tr")):
        cells_of_row = row.find_all(["th", "td"])

        if (len(cells_of_row) == 1):
            if cells_of_row[0].get("colspan"):
                if int(cells_of_row[0].get("colspan")) == int(table_shape[1]):
                    continue
            
        for j in range(table_shape[1]):
            if skip_next:
                skip_next = False
                continue

            if none_table[i][j] is None:
                try:
                    cell = cells_of_row[0]
                except:
                    none_table[i][j] = ''
                    continue
                cell_rowspan = cell.get("rowspan")
                cell_colspan = cell.get("colspan")
                cell_text = cell.get_text().replace("\n", "")

                #if not marked_coords:
                none_table[i][j] = cell_text
                if cell_rowspan:
                    for x in range(i, int(i) + int(cell_rowspan)):
                        none_table[x][j] = cell_text
                    marked_coords.append((i,j,cell_rowspan))
                    #del cells_of_row[0]
                if cell_colspan:
                    for y in range(j+1, (int(j+1) + int(cell_colspan)-1)):
                        none_table[i][y] = 'ALL' if cell_text not in ['\n', ''] else ''
                    marked_coords.append((i,j,cell_colspan))
                    skip_next = True
                
                del cells_of_row[0]

    none_table = [row for row in none_table if any(cell is not None for cell in row)]

    df = pd.DataFrame(none_table[1:], columns=none_table[0])
    return df

# EmbeddedTablesUnstructuredRetrieverPack (under the hood)

## Read the file and parse it into nodes with UnstructuredElementNodeParser

In [9]:
reader = FlatReader()

docs = reader.load_data(Path(path))

In [10]:
node_parser = UnstructuredElementNodeParser()

In [11]:
raw_nodes = node_parser.get_nodes_from_documents(docs)

100%|██████████| 13/13 [01:51<00:00,  8.56s/it]

In [13]:
len(raw_nodes)

51

## Proceed without updating the tables first, to have benchmark responses for comparison

In [13]:
base_nodes, node_mappings = node_parser.get_base_nodes_and_mappings(
            raw_nodes
        )

In [14]:
vector_index = VectorStoreIndex(nodes=base_nodes)
vector_retriever = vector_index.as_retriever(similarity_top_k=4)

In [15]:
recursive_retriever = RecursiveRetriever(
            "vector",
            retriever_dict={"vector": vector_retriever},
            node_dict=node_mappings,
            verbose=False,
        )

In [16]:
query_engine = RetrieverQueryEngine.from_args(retriever=recursive_retriever)

In [17]:
print(query_engine.query("how many number of times has casemiro won champions league").response)
print(query_engine.query("how many number of times has luka modric won champions league").response)
print(query_engine.query("how many number of times has juan santisteban won champions league").response)
print(query_engine.query("how many number of times has pique won champions league").response)
print(query_engine.query("how many number of times has varane won champions league").response)

Casemiro has won the Champions League 4 times.
Luka Modrić has won the UEFA Champions League once.
Juan Santisteban has not won the Champions League.
Gerard Piqué has won the Champions League 3 times.
Varane has won the Champions League 4 times.

**Correct answers were;**\
Casemiro : 5 times\
Modric : 5 times\
Santisteban : 4 times\
Pique : 4 times\
Varane : 4 times

In [18]:
print(query_engine.query("how many appearances does zlatan ibrahimovic have in the champions league").response)
print(query_engine.query("how many appearances does paul scholes have in the champions league").response)
print(query_engine.query("how many appearances does philipp lahm have in the champions league").response)
print(query_engine.query("how many appearances does dani alves have in the champions leaguee").response)
print(query_engine.query("how many appearances does thiago silva have in the champions league").response)
print(query_engine.query("Who are the top 5 players that have the most appearances in the champions league").response)

Zlatan Ibrahimović has made 116 appearances in the UEFA Champions League.
Paul Scholes has 124 appearances in the UEFA Champions League.
Philipp Lahm has 105 appearances in the UEFA Champions League.
Dani Alves has made 111 appearances in the UEFA Champions League.
Thiago Silva has 105 appearances in the UEFA Champions League.
The top 5 players with the most appearances in the UEFA Champions League are Cristiano Ronaldo, Iker Casillas, Lionel Messi, Karim Benzema, and Xavi.

**Correct answers were;**\
Ibrahimovic : 124 times\
Scholes : 124 times\
Lahm : 112 times\
Dani Alves : 111 times\
Thiago Silva : 105 times\
Top 5 Players: C. Ronaldo, Casillas, Messi, Benzema, Xavi

In [19]:
# NOTE: The queries below originally didn't include the "look for the answer in" part but retriever failed to find the correct node. 
# Since the scope of this work is to improve the quality of information retrieved WITHIN the node, 
# the process of finding the correct node is by-passed, so to speak, with prompt engineering 
print(query_engine.query("when was malmö ff the runner-up? look for the answer in the table with columns club, title(s), runners-up, seasons won, seasons runner-up").response)
print(query_engine.query("when was tottenham the runner-up? look for the answer in the table with columns club, title(s), runners-up, seasons won, seasons runner-up").response)
print(query_engine.query("what are the names of the clubs that ibrahimovic played for in the champions league? Look for the answer in the table under 'most appearances' section").response)
print(query_engine.query("In what years did Luis Figo play in the champions league? Look for the answer in the table under the 'most appearances' section").response)

Malmö FF was the runner-up in the UEFA Champions League in the season 1978–79.
Tottenham Hotspur was the runner-up in the UEFA Champions League once.
Ajax, Juventus, Inter Milan, Barcelona, Milan, Paris Saint-Germain, Manchester United, Valencia, Fiorentina, Eintracht Frankfurt, Partizan, Panathinaikos, Leeds United, Saint-Étienne, Borussia Mönchengladbach, Club Brugge, Malmö FF, Roma, Sampdoria, Bayer Leverkusen, Monaco, Arsenal, and Tottenham Hotspur.
Luis Figo played in the UEFA Champions League in the following years: 1997, 1998, 2009.

**Correct answers were;**\
Malmö was the runner-up in 1978-79\
Tottenham was the runner-up in 2018-2019\
Ibrahimovic played for Ajax, Juventus, Inter Milan, Barcelona, Milan, Paris Saint-Germain, Manchester United in the UCL\
Figo played in the UCL from 1997 to 2009

## Updating the tables and generating responses this way

The unstructured node parser takes a `llama_index.schema.Document` as input that is read with a LlamaIndex `FlatReader`. Even though this Document contains most of the html tags such as `<span>, <tr>, <td>` , and the `UnstructuredElementNodeParser` does a great job detecting the tables, it fails to extract the full information under some conditions including but not limited to:
* The table has merged cells
* The cell value includes references
* The cell value is a comma seperated list

This situation causes information loss, which can be recovered considering the original data source was an HTML and actually includes all the necessary tags to capture the information of the table perfectly.

Therefore, this notebook aims to follow the pipeline of the `EmbeddedTablesUnstructuredRetrieverPack` but just change the content of the `TextNode` objects that contain the tables with a custom function

### Print raw table nodes, update the nodes and print the updated nodes

In [20]:
# The function below returns the HTML content of the tables up to the section specified in the string. 
# In this case, we are only concerned with the tables that come before the References section because there many tables at the bottom of the wiki page that we are not interested in.
tables = extract_tables(path, 'References') 

# We loop through the HTML contents of the tables and turn each of them into a pandas DataFrame first, then return the string of the DataFrames.
# This way, table contents as strings have a more organized structure
tables_corrected_texts = []
for table in tables:
    df = html_to_df(table)
    if df.shape[0] > 0: # There are two "tables" in the HTML document that are actually pictures. They are formatted as a HTML table but they shape (0, 1). This is to exclude them.
        tables_corrected_texts.append(df.to_string())

In [22]:
# Before updating the tables, we print the TextNodes that contain the table content to see the difference
c=0
for i, node in enumerate(raw_nodes):
    if str(node.id_).endswith("_table"):
        ref_node = get_ref_node_of_table(node, raw_nodes)
        print("Table " + str(c+1) + " is at node with index " + str(i))
        print("Table summary: " + str(ref_node.text))
        print(node.text)
        print("\n\n")
        c += 1
    if c > 10: # We are only interested in the first 11 tables of the HTML document as explained above
        break

Table 1 is at node with index 2
Table summary: Summary: UEFA Champions League Information

0           Organising body                                                                                                                                                                                                           UEFA
1                   Founded                                                                                                                                                                                                           1955       ; 69 years ago                          (                           1955           )  (rebranded in 1992)
2                    Region                                                                                                                                                                                                         Europe
3           Number of teams  .mw-parser-output .plainlist ol,.mw-parser-output .plainlist ul{line-height:inherit;list-style:none;margin:0;padding:0}.mw-parser-output .plainlist ol li,.mw-parser-output .plainlist ul li{margin-bottom:0}     32 (group stage)      79, 80, or 81 (total)
4             Qualifier for                                                                                                                                                                                                 UEFA Super Cup  FIFA Club World Cup  FIFA Intercontinental Cup
5      Related competitions                                                                                                                                                                                             UEFA Europa League                                      (2nd tier)  UEFA Europa Conference League  (3rd tier)
6         Current champions                                                                                                                                                                                                                     Manchester City                (1st title)
7   Most successful club(s)                                                                                                                                                                                                                         Real Madrid                (14 titles)
8   Television broadcasters                                                                                                                                                                                           List of broadcasters
9                   Website                                                                                                                                                                                   uefa.com/uefachampionsleague
10                                                                                                                                                                                                           2023–24 UEFA Champions League



Table 2 is at node with index 5
Table summary: List of winners of the European Cup/UEFA Champions League from 1955 to 2023
                     Season   Winners
0              European Cup
1                   1955–56                    Real Madrid
2                   1956–57                    Real Madrid     (2)
3                   1957–58                    Real Madrid     (3)
4                   1958–59                    Real Madrid     (4)
5                   1959–60                    Real Madrid     (5)
6                   1960–61                        Benfica
7                   1961–62                        Benfica     (2)
8                   1962–63                          Milan
9                   1963–64                    Inter Milan
10                  1964–65                    Inter Milan     (2)
11                  1965–66                    Real Madrid     (6)
12                  1966–67                         Celtic
13                  1967–68              Manchester United
14                  1968–69                          Milan     (2)
15                  1969–70                      Feyenoord
16                  1970–71                           Ajax
17                  1971–72                           Ajax     (2)
18                  1972–73                           Ajax     (3)
19                  1973–74                  Bayern Munich
20                  1974–75                  Bayern Munich     (2)
21                  1975–76                  Bayern Munich     (3)
22                  1976–77                      Liverpool
23                  1977–78                      Liverpool     (2)
24                  1978–79              Nottingham Forest
25                  1979–80              Nottingham Forest     (2)
26                  1980–81                      Liverpool     (3)
27                  1981–82                    Aston Villa
28                  1982–83                   Hamburger SV
29                  1983–84                      Liverpool     (4)
30                  1984–85                       Juventus
31                  1985–86               Steaua București
32                  1986–87                          Porto
33                  1987–88                  PSV Eindhoven
34                  1988–89                          Milan     (3)
35                  1989–90                          Milan     (4)
36                  1990–91              Red Star Belgrade
37                  1991–92                      Barcelona
38    UEFA Champions League
39                  1992–93                      Marseille
40                  1993–94                          Milan     (5)
41                  1994–95                           Ajax     (4)
42                  1995–96                       Juventus     (2)
43                  1996–97              Borussia Dortmund
44                  1997–98                    Real Madrid     (7)
45                  1998–99              Manchester United     (2)
46                1999–2000                    Real Madrid     (8)
47                  2000–01                  Bayern Munich     (4)
48                  2001–02                    Real Madrid     (9)
49                  2002–03                          Milan     (6)
50                  2003–04                          Porto     (2)
51                  2004–05                      Liverpool     (5)
52                  2005–06                      Barcelona     (2)
53                  2006–07                          Milan     (7)
54                  2007–08              Manchester United     (3)
55                  2008–09                      Barcelona     (3)
56                  2009–10                    Inter Milan     (3)
57                  2010–11                      Barcelona     (4)
58                  2011–12                        Chelsea
59                  2012–13                  Bayern Munich     (5)
60                  2013–14                    Real Madrid    (10)
61                  2014–15                      Barcelona     (5)
62                  2015–16                    Real Madrid    (11)
63                  2016–17                    Real Madrid    (12)
64                  2017–18                    Real Madrid    (13)
65                  2018–19                      Liverpool     (6)
66                  2019–20                  Bayern Munich     (6)
67                  2020–21                        Chelsea     (2)
68                  2021–22                    Real Madrid    (14)
69                  2022–23                Manchester City



Table 3 is at node with index 12
Table summary: Teams entering and advancing in the UEFA Champions League rounds
                                         Teams entering in this round                                  Teams advancing from the previous round
0          Preliminary round   (4 teams)                                                                   4 champions from associations 52–55
1     First qualifying round  (34 teams)                                           33 champions from associations 18–51 (except Liechtenstein)                                                                                1 winner from the preliminary round
2    Second qualifying round                           Champions Path  (20 teams)                                                                                     3 champions from associations 15–17                                                                                                                 17 winners from the first qualifying round
3                League Path   (6 teams)                                                                  6 runners-up from associations 10–15
4     Third qualifying round                           Champions Path  (12 teams)                                                                                     2 champions from associations 13–14                                                                                               10 winners from the second qualifying round (Champions Path)
5                League Path   (8 teams)                                                                    3 runners-up from associations 7–9                  2 third-placed teams from association 5–6                                                                                                   3 winners from the second qualifying round (League Path)
6             Play-off round                           Champions Path   (8 teams)                                                                                     2 champions from associations 11–12                                                                                                 6 winners from the third qualifying round (Champions Path)
7                League Path   (4 teams)                                                                                                          4 winners from the third qualifying round (League Path)
8                Group stage  (32 teams)                                                                   UEFA Champions League title holders                                         UEFA Europa League  title holders                                           10 champions from associations 1–10                                                                6 runners-up from associations 1–6    4 third-placed teams from associations 1–4    4 fourth-placed teams from associations 1–4        4 winners from the play-off round (Champions Path)    2 winners from the play-off round (League Path)
9             Knockout phase  (16 teams)                                                                                                                             8 group winners from the group stage                 8 group runners-up from the group stage



Table 4 is at node with index 15
Table summary: Teams entering in each round of the UEFA Champions League qualification process
                                         Teams entering in this round                                  Teams advancing from the previous round
0     First qualifying round  (32 teams)                                           32 champions from associations 23–55 (except Liechtenstein)
1    Second qualifying round                           Champions Path  (24 teams)                                                                                     8 champions from associations 15–22                                                                                                                                    16 winners from the first qualifying round
2                League Path   (6 teams)                                                                  6 runners-up from associations 10–15
3     Third qualifying round                           Champions Path  (12 teams)                                                                                                                                         12 winners from the second qualifying round (Champions Path)
4                League Path   (8 teams)                                                                    3 runners-up from associations 7–9                     1 third-placed team from association 6                                      1 fourth-placed team from association 5                                                                                                                                       3 winners from the second qualifying round (League Path)
5             Play-off round                           Champions Path  (10 teams)                                                                                     4 champions from associations 11–14                                                                                                                    6 winners from the third qualifying round (Champions Path)
6                League Path   (4 teams)                                                                                                          4 winners from the third qualifying round (League Path)
7                Group stage  (36 teams)                                                                   UEFA Champions League title holders                                         UEFA Europa League  title holders                                                                10 champions from associations 1–10                                                              6 runners-up from associations 1–6                                                            5 third-placed teams from associations 1–5    4 fourth-placed teams from associations 1–4    2 teams from associations with the highest 1-year association coefficient        5 winners from the play-off round (Champions Path)    2 winners from the play-off round (League Path)



Table 5 is at node with index 19
Table summary: List of football clubs and their respective number of UEFA Champions League titles
                     Real Madrid     14    3    1956  ,  1957     ,  1958     ,  1959     ,  1960     ,  1966     ,  1998     , 2000     , 2002     , 2014     , 2016     , 2017 , 2018 , 2022     1962 , 1964 , 1981
0                          Milan      7    4    1963  ,  1969     ,  1989     ,  1990     ,  1994     ,  2003     ,  2007             1958    ,  1993    ,  1995    ,  2005
1                  Bayern Munich      6    5    1974  ,  1975     ,  1976     ,  2001     ,  2013     ,  2020              1982    ,  1987    ,  1999    ,  2010    ,  2012
2                      Liverpool      6    4    1977  ,  1978     ,  1981     ,  1984     ,  2005     ,  2019              1985    ,  2007    ,  2018    ,  2022
3                      Barcelona      5    3    1992  ,  2006     ,  2009     ,  2011     ,  2015              1961     ,  1986    ,  1994
4                           Ajax      4    2    1971  ,  1972     ,  1973     ,  1995              1969     ,  1996
5                    Inter Milan      3    3    1964  ,  1965     ,  2010              1967     ,  1972     ,  2023
6              Manchester United      3    2    1968  ,  1999     ,  2008              2009     ,  2011
7                       Juventus      2    7    1985  ,  1996              1973     ,  1983     ,  1997     ,  1998     ,  2003    ,  2015    ,  2017
8                        Benfica      2    5    1961  ,  1962              1963     ,  1965     ,  1968     ,  1988     ,  1990
9                        Chelsea      2    1    2012  ,  2021              2008
10             Nottingham Forest      2    0    1979  ,  1980                 —
11                         Porto      2    0    1987  ,  2004                 —
12                        Celtic      1    1    1967           1970
13                  Hamburger SV      1    1    1983           1980
14              Steaua București      1    1    1986           1989
15                     Marseille      1    1    1993           1991
16             Borussia Dortmund      1    1    1997           2013
17               Manchester City      1    1    2023           2021
18                     Feyenoord      1    0    1970              —
19                   Aston Villa      1    0    1982              —
20                 PSV Eindhoven      1    0    1988              —
21             Red Star Belgrade      1    0    1991              —
22               Atlético Madrid      0    3       —     1974     ,  2014     ,  2016
23                         Reims      0    2       —     1956     ,  1959
24                      Valencia      0    2       —     2000     ,  2001
25                    Fiorentina      0    1       —     1957
26           Eintracht Frankfurt      0    1       —     1960
27                      Partizan      0    1       —     1966
28                 Panathinaikos      0    1       —     1971
29                  Leeds United      0    1       —     1975
30                 Saint-Étienne      0    1       —     1976
31      Borussia Mönchengladbach      0    1       —     1977
32                   Club Brugge      0    1       —     1978
33                      Malmö FF      0    1       —     1979
34                          Roma      0    1       —     1984
35                     Sampdoria      0    1       —     1992
36              Bayer Leverkusen      0    1       —     2002
37                        Monaco      0    1       —     2004
38                       Arsenal      0    1       —     2006
39             Tottenham Hotspur      0    1       —     2019
40           Paris Saint-Germain      0    1       —     2020



Table 6 is at node with index 22
Table summary: Number of goals scored by each country in a football tournament
              Spain         19     11      30
0           England         15     11      26
1             Italy         12     17      29
2           Germany  [a]        8      10      18
3       Netherlands          6      2       8
4          Portugal          4      5       9
5            France          1      6       7
6           Romania          1      1       2
7          Scotland          1      1       2
8        Yugoslavia  [b]        1       1       2
9           Belgium          0      1       1
10           Greece          0      1       1
11           Sweden          0      1       1



Table 7 is at node with index 25
Table summary: List of players and their respective clubs and years of winning the UEFA Champions League
                          6             Paco Gento           Real Madrid            (  1956     ,  1957         ,     1958     ,  1959     ,  1960  , 1966 )
0                         5            Juan Alonso           Real Madrid            (  1956     ,  1957         ,     1958     ,  1959     ,  1960  )
1             Rafael Lesmes
2                 Marquitos
3               Héctor Rial
4        Alfredo Di Stéfano
5        José María Zárraga
6     Alessandro Costacurta               AC Milan  (  1989            ,         1990     ,  1994     ,      2003        ,  2007     )
7             Paolo Maldini
8         Cristiano Ronaldo      Manchester United  (  2008            )  Real Madrid     (  2014     ,      2016        ,  2017     ,  2018     )
9                Toni Kroos          Bayern Munich  (  2013            )  Real Madrid     (  2016     ,      2017        ,  2018     ,  2022     )
10              Gareth Bale            Real Madrid  (  2014            ,         2016     ,  2017     ,      2018        ,  2022     )
11            Karim Benzema
12            Dani Carvajal
13                 Casemiro
14                     Isco
15                  Marcelo
16              Luka Modrić
17                    Nacho
18                        4                Joseíto           Real Madrid            (  1956     ,  1957         ,     1958     ,  1959     )

In [23]:
# Now, we update each table with their newly created "correct texts" and print them
c=0
raw_nodes_updated = raw_nodes.copy()
for i, node in enumerate(raw_nodes_updated):
    if str(node.id_).endswith("_table"):
        ref_node = get_ref_node_of_table(node, raw_nodes_updated)
        node.text = tables_corrected_texts[c]
        print("Table " + str(c+1) + " is at node with index " + str(i) + " and has table_id:" + str(node.id_))
        print("Table summary: " + str(ref_node.text))
        print(node.text)
        print("\n\n")
        c += 1
    if c > 10:
        break

Table 1 is at node with index 2 and has table_id:id_155_table
Table summary: Summary: UEFA Champions League Information
           Organising body                                                                  UEFA
0                  Founded                          1955; 69 years ago (1955)(rebranded in 1992)
1                   Region                                                                Europe
2          Number of teams                                 32 (group stage)79, 80, or 81 (total)
3            Qualifier for            UEFA Super CupFIFA Club World CupFIFA Intercontinental Cup
4     Related competitions  UEFA Europa League (2nd tier)UEFA Europa Conference League(3rd tier)
5        Current champions                                           Manchester City (1st title)
6  Most successful club(s)                                               Real Madrid (14 titles)
7  Television broadcasters                                                  List of broadcasters
8                  Website                                          uefa.com/uefachampionsleague



Table 2 is at node with index 5 and has table_id:id_196_table
Table summary: List of winners of the European Cup/UEFA Champions League from 1955 to 2023
       Season                 Winners
0     1955–56             Real Madrid
1     1956–57         Real Madrid (2)
2     1957–58         Real Madrid (3)
3     1958–59         Real Madrid (4)
4     1959–60         Real Madrid (5)
5     1960–61                 Benfica
6     1961–62             Benfica (2)
7     1962–63                   Milan
8     1963–64             Inter Milan
9     1964–65         Inter Milan (2)
10    1965–66         Real Madrid (6)
11    1966–67                  Celtic
12    1967–68       Manchester United
13    1968–69               Milan (2)
14    1969–70               Feyenoord
15    1970–71                    Ajax
16    1971–72                Ajax (2)
17    1972–73                Ajax (3)
18    1973–74           Bayern Munich
19    1974–75       Bayern Munich (2)
20    1975–76       Bayern Munich (3)
21    1976–77               Liverpool
22    1977–78           Liverpool (2)
23    1978–79       Nottingham Forest
24    1979–80   Nottingham Forest (2)
25    1980–81           Liverpool (3)
26    1981–82             Aston Villa
27    1982–83            Hamburger SV
28    1983–84           Liverpool (4)
29    1984–85                Juventus
30    1985–86        Steaua București
31    1986–87                   Porto
32    1987–88           PSV Eindhoven
33    1988–89               Milan (3)
34    1989–90               Milan (4)
35    1990–91       Red Star Belgrade
36    1991–92               Barcelona
37    1992–93               Marseille
38    1993–94               Milan (5)
39    1994–95                Ajax (4)
40    1995–96            Juventus (2)
41    1996–97       Borussia Dortmund
42    1997–98         Real Madrid (7)
43    1998–99   Manchester United (2)
44  1999–2000         Real Madrid (8)
45    2000–01       Bayern Munich (4)
46    2001–02         Real Madrid (9)
47    2002–03               Milan (6)
48    2003–04               Porto (2)
49    2004–05           Liverpool (5)
50    2005–06           Barcelona (2)
51    2006–07               Milan (7)
52    2007–08   Manchester United (3)
53    2008–09           Barcelona (3)
54    2009–10         Inter Milan (3)
55    2010–11           Barcelona (4)
56    2011–12                 Chelsea
57    2012–13       Bayern Munich (5)
58    2013–14        Real Madrid (10)
59    2014–15           Barcelona (5)
60    2015–16        Real Madrid (11)
61    2016–17        Real Madrid (12)
62    2017–18        Real Madrid (13)
63    2018–19           Liverpool (6)
64    2019–20       Bayern Munich (6)
65    2020–21             Chelsea (2)
66    2021–22        Real Madrid (14)
67    2022–23         Manchester City



Table 3 is at node with index 12 and has table_id:id_469_table
Table summary: Teams entering and advancing in the UEFA Champions League rounds
                                                                                                                                                                                                                                                                Teams entering in this round                                                            Teams advancing from the previous round
0        Preliminary round(4 teams)                       ALL                                                                                                                                                                                            4 champions from associations 52–55
1  First qualifying round(34 teams)                       ALL                                                                                                                                                                    33 champions from associations 18–51 (except Liechtenstein)                                                                1 winner from the preliminary round
2           Second qualifying round  Champions Path(20 teams)                                                                                                                                                                                            3 champions from associations 15–17                                                         17 winners from the first qualifying round
3           Second qualifying round      League Path(6 teams)                                                                                                                                                                                           6 runners-up from associations 10–15
4            Third qualifying round  Champions Path(12 teams)                                                                                                                                                                                            2 champions from associations 13–14                                       10 winners from the second qualifying round (Champions Path)
5            Third qualifying round      League Path(8 teams)                                                                                                                                                    3 runners-up from associations 7–92 third-placed teams from association 5–6                                           3 winners from the second qualifying round (League Path)
6                    Play-off round   Champions Path(8 teams)                                                                                                                                                                                            2 champions from associations 11–12                                         6 winners from the third qualifying round (Champions Path)
7                    Play-off round      League Path(4 teams)                                                                                                                                                                                                                                                                           4 winners from the third qualifying round (League Path)
8             Group stage(32 teams)                       ALL  UEFA Champions League title holdersUEFA Europa League title holders10 champions from associations 1–106 runners-up from associations 1–64 third-placed teams from associations 1–44 fourth-placed teams from associations 1–4  4 winners from the play-off round (Champions Path)2 winners from the play-off round (League Path)
9          Knockout phase(16 teams)                       ALL                                                                                                                                                                                                                                                       8 group winners from the group stage8 group runners-up from the group stage



Table 4 is at node with index 15 and has table_id:id_475_table
Table summary: Teams entering in each round of the UEFA Champions League qualification process
                                                                                                                                                                                                                                                                                                                                         Teams entering in this round                                                            Teams advancing from the previous round
0  First qualifying round(32 teams)                       ALL                                                                                                                                                                                                                                             32 champions from associations 23–55 (except Liechtenstein)
1           Second qualifying round  Champions Path(24 teams)                                                                                                                                                                                                                                                                     8 champions from associations 15–22                                                         16 winners from the first qualifying round
2           Second qualifying round      League Path(6 teams)                                                                                                                                                                                                                                                                    6 runners-up from associations 10–15
3            Third qualifying round  Champions Path(12 teams)                                                                                                                                                                                                                                                                                                                                               12 winners from the second qualifying round (Champions Path)
4            Third qualifying round      League Path(8 teams)                                                                                                                                                                                         3 runners-up from associations 7–91 third-placed team from association 61 fourth-placed team from association 5                                           3 winners from the second qualifying round (League Path)
5                    Play-off round  Champions Path(10 teams)                                                                                                                                                                                                                                                                     4 champions from associations 11–14                                         6 winners from the third qualifying round (Champions Path)
6                    Play-off round      League Path(4 teams)                                                                                                                                                                                                                                                                                                                                                    4 winners from the third qualifying round (League Path)
7             Group stage(36 teams)                       ALL  UEFA Champions League title holdersUEFA Europa League title holders10 champions from associations 1–106 runners-up from associations 1–65 third-placed teams from associations 1–54 fourth-placed teams from associations 1–42 teams from associations with the highest 1-year association coefficient  5 winners from the play-off round (Champions Path)2 winners from the play-off round (League Path)



Table 5 is at node with index 19 and has table_id:id_547_table
Table summary: List of football clubs and their respective number of UEFA Champions League titles
                     vte Club Title(s) Runners-up                                                                         Seasons won                         Seasons runner-up
0                 Real Madrid       14          3  1956, 1957, 1958, 1959, 1960, 1966, 1998, 2000, 2002, 2014, 2016, 2017, 2018, 2022                          1962, 1964, 1981
1                       Milan        7          4                                            1963, 1969, 1989, 1990, 1994, 2003, 2007                    1958, 1993, 1995, 2005
2               Bayern Munich        6          5                                                  1974, 1975, 1976, 2001, 2013, 2020              1982, 1987, 1999, 2010, 2012
3                   Liverpool        6          4                                                  1977, 1978, 1981, 1984, 2005, 2019                    1985, 2007, 2018, 2022
4                   Barcelona        5          3                                                        1992, 2006, 2009, 2011, 2015                          1961, 1986, 1994
5                        Ajax        4          2                                                              1971, 1972, 1973, 1995                                1969, 1996
6                 Inter Milan        3          3                                                                    1964, 1965, 2010                          1967, 1972, 2023
7           Manchester United        3          2                                                                    1968, 1999, 2008                                2009, 2011
8                    Juventus        2          7                                                                          1985, 1996  1973, 1983, 1997, 1998, 2003, 2015, 2017
9                     Benfica        2          5                                                                          1961, 1962              1963, 1965, 1968, 1988, 1990
10                    Chelsea        2          1                                                                          2012, 2021                                      2008
11          Nottingham Forest        2          0                                                                          1979, 1980                                         —
12                      Porto        2          0                                                                          1987, 2004                                         —
13                     Celtic        1          1                                                                                1967                                      1970
14               Hamburger SV        1          1                                                                                1983                                      1980
15           Steaua București        1          1                                                                                1986                                      1989
16                  Marseille        1          1                                                                                1993                                      1991
17          Borussia Dortmund        1          1                                                                                1997                                      2013
18            Manchester City        1          1                                                                                2023                                      2021
19                  Feyenoord        1          0                                                                                1970                                         —
20                Aston Villa        1          0                                                                                1982                                         —
21              PSV Eindhoven        1          0                                                                                1988                                         —
22          Red Star Belgrade        1          0                                                                                1991                                         —
23            Atlético Madrid        0          3                                                                                   —                          1974, 2014, 2016
24                      Reims        0          2                                                                                   —                                1956, 1959
25                   Valencia        0          2                                                                                   —                                2000, 2001
26                 Fiorentina        0          1                                                                                   —                                      1957
27        Eintracht Frankfurt        0          1                                                                                   —                                      1960
28                   Partizan        0          1                                                                                   —                                      1966
29              Panathinaikos        0          1                                                                                   —                                      1971
30               Leeds United        0          1                                                                                   —                                      1975
31              Saint-Étienne        0          1                                                                                   —                                      1976
32   Borussia Mönchengladbach        0          1                                                                                   —                                      1977
33                Club Brugge        0          1                                                                                   —                                      1978
34                   Malmö FF        0          1                                                                                   —                                      1979
35                       Roma        0          1                                                                                   —                                      1984
36                  Sampdoria        0          1                                                                                   —                                      1992
37           Bayer Leverkusen        0          1                                                                                   —                                      2002
38                     Monaco        0          1                                                                                   —                                      2004
39                    Arsenal        0          1                                                                                   —                                      2006
40          Tottenham Hotspur        0          1                                                                                   —                                      2019
41        Paris Saint-Germain        0          1                                                                                   —                                      2020



Table 6 is at node with index 22 and has table_id:id_549_table
Table summary: Number of goals scored by each country in a football tournament

### Proceed to the rest of the pipeline with the updated nodes.

In [24]:
base_nodes_upd, node_mappings_upd = node_parser.get_base_nodes_and_mappings(
            raw_nodes_updated
        )

In [25]:
vector_index_upd = VectorStoreIndex(nodes=base_nodes_upd)
vector_retriever_upd = vector_index_upd.as_retriever(similarity_top_k=4)

In [26]:
recursive_retriever_upd = RecursiveRetriever(
            "vector",
            retriever_dict={"vector": vector_retriever_upd},
            node_dict=node_mappings_upd,
            verbose=False,
        )

In [27]:
from llama_index.callbacks.base import CallbackManager
from llama_index.prompts import SelectorPromptTemplate
from llama_index.prompts.base import PromptTemplate
from llama_index.prompts.prompt_type import PromptType

# The new table texts also include the columns as the first row (as opposed to the original text), therefore we slightly change the QA PROMPT TEMPLATE
MY_TEXT_QA_PROMPT_TMPL = (
    "The context below may or may not contain tables. You can recognize the tables by the numbered new line characters such as \\n0, \\n1, etc. Each new line coded like this is a different row of the table. Widespaces between values are cell borders (different columns). \n"
    "If a table exists, the first line/row of the table is the column names. If the query includes a column name, take it into account."
    "Context information is below.\n"
    "---------------------\n"
    "{context_str}\n"
    "---------------------\n"
    "Given the context information and not prior knowledge, "
    "answer the query.\n"
    "Query: {query_str}\n"
    "Answer: "
)

MY_TEXT_QA_PROMPT = PromptTemplate(
    MY_TEXT_QA_PROMPT_TMPL, prompt_type=PromptType.QUESTION_ANSWER
)

MY_TEXT_QA_PROMPT_SEL = SelectorPromptTemplate(
    default_template=MY_TEXT_QA_PROMPT,
)

In [28]:
resp_synth = get_response_synthesizer(
                service_context=recursive_retriever_upd.get_service_context(),
                callback_manager=CallbackManager(),
                text_qa_template=MY_TEXT_QA_PROMPT_SEL
                )

In [29]:
query_engine_upd = RetrieverQueryEngine.from_args(retriever=recursive_retriever_upd, response_synthesizer=resp_synth)

In [30]:
print(query_engine_upd.query("how many number of times has casemiro won champions league").response)
print(query_engine_upd.query("how many number of times has luka modric won champions league").response)
print(query_engine_upd.query("how many number of times has juan santisteban won champions league").response)
print(query_engine_upd.query("how many number of times has pique won champions league").response)
print(query_engine_upd.query("how many number of times has varane won champions league").response)

Casemiro has won the Champions League 5 times.
Luka Modrić has won the Champions League 5 times.
Juan Santisteban has won the Champions League 4 times.
Gerard Piqué has won the Champions League 4 times.
4

In [31]:
print(query_engine_upd.query("how many appearances does zlatan ibrahimovic have in the champions league").response)
print(query_engine_upd.query("how many appearances does paul scholes have in the champions league").response)
print(query_engine_upd.query("how many appearances does philipp lahm have in the champions league").response)
print(query_engine_upd.query("how many appearances does dani alves have in the champions leaguee").response)
print(query_engine_upd.query("how many appearances does thiago silva have in the champions league").response)
print(query_engine_upd.query("Who are the top 5 players that have the most appearances in the champions league the most?").response)

Zlatan Ibrahimović has 124 appearances in the UEFA Champions League.
Paul Scholes has 124 appearances in the UEFA Champions League.
Philipp Lahm has 112 appearances in the UEFA Champions League.
Dani Alves has 111 appearances in the UEFA Champions League.
Thiago Silva has 105 appearances in the UEFA Champions League.
1. Cristiano Ronaldo
2. Iker Casillas
3. Lionel Messi
4. Karim Benzema
5. Xavi

In [36]:
# NOTE: The queries below originally didn't include the "look for the answer in" part but retriever failed to find the correct node. 
# Since the scope of this work is to improve the quality of information retrieved WITHIN the node, 
# the process of finding the correct node is by-passed, so to speak, with prompt engineering
print(query_engine_upd.query("when was malmö ff the runner-up? look for the answer in the table with columns club, title(s), runners-up, seasons won, seasons runner-up").response)
print(query_engine_upd.query("when was tottenham the runner-up? look for the answer in the table with columns club, title(s), runners-up, seasons won, seasons runner-up").response)
print(query_engine_upd.query("what are the names of the clubs that zlatan ibrahimovic played for in the champions league? Look for the answer in the table under 'most appearances' section").response)
print(query_engine_upd.query("In what years did Luis Figo play in the champions league? Look for the answer in the table under the 'most appearances' section").response)

Malmö FF was the runner-up in the 1979 season.
Tottenham was the runner-up in the UEFA Champions League in the 2018-2019 season.
The clubs that Zlatan Ibrahimovic played for in the Champions League are Ajax, Juventus, Inter Milan, Barcelona, Milan, Paris Saint-Germain, and Manchester United.
Luis Figo played in the Champions League from 1997 to 2009.

**All answers are correct!**